.myheading{
  color: red;
  margin: 10px;
  font-size: 60px;
}
.my_Card
{
  margin: 20px;
}
.productInfoDiv
{
height:800px;
}
.productImage
{
  width:70%;
  height:400px;
  margin-top: 50px;
}
.secondDivProduct
{
  padding: 50px;
  
}
.avoffer
{
  margin-top: 20px;
}
.buyNowButton{
  background-color: #FB641B;
  border-radius: 5px;
  color:#fff;
  border: 0px solid black;
  font-weight: bold;
  width:200px;
  padding:10px;
  margin-top: 30px;
  padding: 10px;
  margin-left: 10px;
margin-right: 10px;
}
.addToCartButton{
 background-color: #FF9F00;
 border-radius: 5px;
 color:#fff;
 border: 0px solid black;
font-weight: bold;
width:200px;
padding:10px;
margin-left: 10px;
margin-right: 10px;
}